
.tarjeta{
    border-style: solid;
    border-radius: 10px;
    border-color: red;
    border-width: 2px;

    width: 30%;

    margin: 5% auto 5%;

    padding: 5px;

    text-align: center;

    box-sizing: border-box;
}

img{
    width: 50%;
}