#header2{
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  height: 60px;
  display: flex;
  align-items: center;
}

#Titulo{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #fff;
  max-width: 900px;
  margin: auto;
  padding: 10px;
  }
  #Titulo:hover{
    background-color: rgba(255, 0, 0, 0.545);
  }

  #link{
    max-width: 900px;
  margin: auto;
  padding: 10px;
  }
  #link ul{
  display: flex;
  list-style: none;
  gap: 110px;
  }
  #link a{
  color: #fc0000;
  }

#s1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
#historia:hover{
  background-color: rgba(255, 0, 0, 0.545);
  font-family: "Playfair Display", serif;
  margin-bottom: 20px; 
  color: #fff; 
}
#contenedor{
  display: flex;
  align-items: center;
  gap: 40px;
}
#s1 .imagen{
  flex: 40%;
  display: flex;
  justify-content: center;
}
#s1 .imagen img{
  float: right;
}
.Texto2{ 
  flex: 60%;
  color: white;
  column-count: 1;
}
  
#s2:hover{
    background-color: rgba(255, 0, 0, 0.545);
  }
#s3{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #fff;
  max-width: 900px;
  margin: auto;
  padding: 10px;
}
#s3:hover{
    background-color: rgba(255, 0, 0, 0.545);
  }
#s4{
      font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #fff;
  max-width: 900px;
  margin: auto;
  padding: 10px;
}
#s4:hover{
    background-color: rgba(255, 0, 0, 0.545);
  }
#s5{
      font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #fff;
  max-width: 900px;
  margin: auto;
  padding: 10px;
}
#s5:hover{
    background-color: rgba(255, 0, 0, 0.545);
  }
.Texto{ 
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  max-width: 900px;
  margin: auto;
  padding: 10px;
}

.Titulo2{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #fff;
  max-width: 900px;
  margin: auto;
  padding: 10px;
}
.Titulo2:hover{
    background-color: rgba(255, 0, 0, 0.545);
  }

body{
    background-image: url(../img2/4ffefd0593515dcd7e592981028f96a1.jpg);
    background-size: 1690px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6); /*negro con transparencia*/
    background-blend-mode: darken;
}
th{
  background-color: rgba(255, 0, 0, 0.545);
}
table{
  border-collapse: collapse;
}
table, th, td{
border: 2px solid rgba(255, 0, 0, 0.545);
}
#Galería{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
